<!-- basic styles -->

<link href="../static/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="../static/css/font-awesome.min.css" />
<!--[if IE 7]>
  <link rel="stylesheet" href="../static/css/font-awesome-ie7.min.css" />
<![endif]-->

<!-- page specific plugin styles -->

<!-- fonts -->

<!link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

<!-- ace styles -->

<link rel="stylesheet" href="../static/css/ace.min.css" />
<link rel="stylesheet" href="../static/css/ace-rtl.min.css" />
<link rel="stylesheet" href="../static/css/ace-skins.min.css" />

<!--[if lte IE 8]>
  <link rel="stylesheet" href="../static/css/ace-ie.min.css" />
<![endif]-->

<!-- inline styles related to this page -->
